body{
    background-color:#3498db;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-container{
    background-color: white;
    padding: 50px;
    text-align: center;
}
h2{
    margin: 0 0 10px 0;
}
input{
    width:200px;
    margin: 10px 0px;
    padding: 10px;
}
input[type="submit"]{
    width:222px;
    color: #ffff;
    background-color: #3498db;
    border: 0px;
}
.error{
    margin: 0;
    color: red;
    text-align: left;
}